.rectangle,
.second {
  position: absolute;
  left: 0;
}
.rectangle {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-gray-300);
}
.second {
  top: 2769px;
  width: 1808px;
  height: 2850px;
}
