.rectangle,
.third {
  position: absolute;
  left: 0;
}
.rectangle {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-gray-300);
}
.third {
  top: 5687px;
  width: 1833px;
  height: 2174px;
}
